.homeE{
   background-color: #5d6a80;
   height: 100%;
   width: 100%;
   /* background-image: url(../../assets/home1.jpg); */
   background-position: center;
   background-repeat: no-repeat;

   background-size: cover;
 display: flex;
 object-fit: contain;
 

}
.homepage{
   color: wheat;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   flex: 1;


}
.homepage>h1>span{
   color: white;
}
.homepage>h1{

  color: #a38d52;
   
}
.homepage>p{
   color: #a38d52;

   font-size: 20px;
   font-weight: 500;
}