.home{
   background-color: #5d6a80;
   height: 100%;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 display: flex;
 object-fit: contain;
}
.homeE{
   background-color: #5d6a80;
   height: 100%;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 display: flex;
 object-fit: contain;
 
}

.homepage{
   color: wheat;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   flex: 1;
   
}

.homepage>h1>span{
   color: white;
}
.homepage>h1{

  color: white;
   
}
.homepage>p{
   color: #a38d52;

   font-size: 20px;
   font-weight: 500;
}

.btn-Contact{
   height: 40px;
   background-color:cadetblue;
   border-style:solid;
   border-radius:5px;
   color:white;
   justify-content:center;
   align-items:center;

}
.btn-Contact:hover{
   background-color:blue;
}

@media screen and (min-width:360px)and (max-width: 1024px){
   .homeE{
      background-color: #5d6a80;
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    display: flex;
    object-fit: contain;
   }
 

}