.Contact{
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
background-color: #89Abe3ff;   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
   height: 100vh;
   width: 100%;
   

}
.cardBOOT{
  border-color: burlywood;
 width: 50rem;
 justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}