.App{
  display: flex;
  flex-direction: row;
}
.Mside{
  flex:1 ;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position:sticky;
}
.Content {
  flex: 4;
  display: flex;
  flex-direction: column;
}
.homeM{
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}
.aboutM {
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}
.skillsM {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}