.App{
  display: flex;
  flex-direction: row;
}
.Mside{
  flex:1 ;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position:sticky;
  width:100%;
}
.layoutA{
  justify-content: center;
  align-items: center;

}
.Content {
  flex: 7;
  display: flex;
  flex-direction: column;
}
.homeM{
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}
.aboutM {
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}
.skillsM {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width:360px)and (max-width: 680px) {
  .App {
      display: flex;
      flex-direction: column;
      position:sticky;
      height: 100%;
      width: 100%;

  }
  .Mside{
    flex: 1;
    display: flex;
    flex-direction: row;
    z-index: 1;
   }
  
  .Content{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;

  }
}